@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap");

* {
  font-family: "Oleo Script", cursive;
}

body {
  background-color: #202021;
}

.header-container {
  margin-top: 5%;
  width: 40%;
  height: 80vh;
  margin: 5% auto 0;
}

.question-container {
  width: 100%;
  height: 25%;
  margin: 0 auto 3em;
  background-color: grey;
  border: 3px solid black;
  overflow-x: auto;
}

.question-container * {
  text-align: center;
  overflow-wrap: break-word;
}

.choice-container {
  display: flex;
  align-items: center;
  background-color: grey;
  margin-bottom: 5%;
  height: 8%;
  font-size: 1.2em;
  background-color: #303eff;
  border-radius: 10px;
}

.choice-container:hover {
  cursor: pointer;
  background-color: #242861;
}

.correct {
  background-color: #1fbe1f;
}

.correct:hover {
  background-color: rgb(5, 141, 5);
}

.incorrect {
  background-color: rgb(209, 0, 0);
}

.incorrect:hover {
  background-color: rgb(209, 0, 0);
}

#question-header {
  font-size: 2.5em;
  margin-top: 0;
}

#question {
  font-size: 1.3em;
  width: 80%;
  text-align: center;
  margin: auto;
}

p {
  margin: 0.8em 0.5em;
  color: white;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 2em;
}

#restart-button {
  border: 3px solid black;
  background-color: grey;
  padding: 0 1em;
  cursor: pointer;
}

#restart-button:hover {
  background-color: rgb(61, 61, 61);
}
